<div class="debut" >


  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form #loginForm="ngForm">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Email or Phone" [(ngModel)]="loginData.username"
      required />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="loginData.password"
      required />

    <button type="submit" [disabled]="!loginForm.valid" (click)="onLogin()">Log In</button>


  </form>
</div>